<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <table class="table">
        <thead>
        <th>Stat</th>
        <th>Value</th>
        </thead>
        <tbody>
        <tr>
          <td>Best</td>
          <td>{{best | time}}</td>
        </tr>
        <tr>
          <td>Mean</td>
          <td>{{avg | time}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <table class="table">
        <thead>
        <th>Stat</th>
        <th>Value</th>
        </thead>
        <tbody>
        <tr>
          <td>Bo3</td>
          <td>{{bo3 | time}}</td>
        </tr>
        <tr>
          <td>Bo5</td>
          <td>{{bo5 | time}}</td>
        </tr>
        <tr>
          <td>Bo10</td>
          <td>{{bo10 | time}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
