<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">Cube Success ++</a>
  <ul class="nav navbar-nav">
    <li class="nav-item navbar-right">
      <a class="nav-link" href="#" (click)="openOptions()">Options</a>
    </li>
  </ul>
</nav>

<template ngbModalContainer></template>

<div class="container-fluid" style="background-color: aquamarine; padding: 20px">
  <app-scramble [scramble] = "scramble" (click)="requestNewScramble()"></app-scramble>
</div>

<div class="container-fluid" style="background-color: lightcyan">
  <div class="row">
    <div>
      <app-timer (onDone)="onTimerDone($event)" [scramble]="scramble"></app-timer>
    </div>
    <div>
      <div *ngIf="totalHistory.length > 0">
        <app-chart [multi]="chartData"></app-chart>
      </div>
      <div *ngIf="totalHistory.length == 0">Start cubing and track your progress!</div>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color: aquamarine" *ngIf="totalHistory.length > 0">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Attempt #</th>
      <th>Start Time</th>
      <th>Elapsed Time</th>
      <th>Used Scramble</th>
      <th>Remove?</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let m of totalHistory.slice().reverse(); let idx = index">
      <td>{{totalHistory.length - idx}}</td>
      <td>{{m.startTime | date}}</td>
      <td>{{m.elapsedTime | time}}</td>
      <td>{{m.scramble | scramblepipe}}</td>
      <td><button (click)="removeMeasurement(totalHistory.length - idx - 1)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
    </tr>
    </tbody>
  </table>
</div>
