.scramble {
  font-size: 26px;
}

table {
  border-collapse: collapse;
  border: 1px solid white;
}

table th {
  height: 25px;
}

table td {
  width: 50px;
  height: 25px;
  border: 1px solid white;
}
